<div id="description">
	<div class="header">
		<h1>KaggleBadge</h1>
	</div>
	<div class="content">
		<p>The web application KaggleBadge is used to generate badges for competitions hosted on <a href="https://www.Kaggle.com">
		www.Kaggle.com</a>. These images can then be placed for example in markdown files on <a href="https://www.github.com">www.Github.com</a>.</p>
		<p>A generated badge includes the following informations:
			<ul>
				<li>Team name/username of the participant</li>
				<li>Automatically updating position in the leaderboard</li>
				<li>Background image and name of the competition</li>
			</ul>
		</p>
		<p><h3>What happens after signup?</h3></p>
		<p>After your signup you will be redirected to your profile page where you can add competitions to your competitions list. The competitions in that list will get updated after a certain amount of time</p>
	</div>
</div>
